<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>ABC</servlet-name>
		<servlet-class>com.js.second.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ABC</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>XYZ</servlet-name>
		<servlet-class>com.js.second.Demo</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>XYZ</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
</web-app>
